<div class="row">
    <!--Main column-->
    <div class="col-md-8">

      <div class="row" ng-cloak>
          <div ng-repeat="note in vm.notes">

              <div class="post-wrapper">

                <h1 class="h1-responsive">{{ note.title }} </h1>
                <h6> {{ note.pub_date | date:'medium'}}</h6>

                <br>

                <div class="row-fluid">
                    <p> {{ note.text }} </p>
                </div>

                <button class="btn btn-primary">Read more</button>
              </div>
          </div>
      </div>

    </div> <!-- Main column-->

    <!--Sidebar-->
    <div class="col-md-4">

        <div class="widget-wrapper">
            <h4>Tags:</h4>
            <br>
            <div class="list-group">

                <div class="row" ng-cloak>
                    <div ng-repeat="tag in vm.tags">
                        <a href="#" class="list-group-item">
                            {{ tag.tag }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->