{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">


<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />

<link rel="stylesheet" type="text/css"
      href="{% static 'lib/mdb/mdb.min.css' %}" />


<!--
<link rel="stylesheet" type="text/css"
      href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
-->


<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css"
      href="{% static 'bower_components/tether/dist/css/tether.css' %}" />



<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"/>

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
